body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

h1{
    color:#6f42c1;
}
footer {
    margin-top: auto;
    padding: 20px;
    background: #F6DEFF;
    text-align: right;
    color: black;
    height: 60px;
}

.ul_content{
    margin-top: 30px;
}

.btn-custom {
    background-color: #F6DEFF;
    color: rgb(0, 0, 0);
}

.btn-custom:hover {
    color: white; 
    background-color: #6f42c1; 
}

.nav-pills .nav-link {
    color:#6f42c1;
    margin: 0 5px;
}