{% extends 'base.html' %}

{% block title%}
О проекте
{%  endblock %}

{% block content %}
<h1>О проекте</h1>
<ul class="ul_content">
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Aperiam expedita sequi deserunt saepe?</li>
        <li>Voluptates corporis hic id at.</li>
        <li>Neque molestias fugit id adipisci.</li>
        <li>Dignissimos nemo doloribus sint dolorem?</li>
        <li>Omnis maxime eos quia pariatur.</li>
        <li>Ipsum fugiat omnis officia eos.</li>
        <li>Sit sequi omnis consequuntur numquam.</li>
        <li>Tempora minus similique magni voluptates.</li>
        <li>Ad aspernatur facilis ea magnam?</li>
        <li>Accusantium veritatis dolore nobis iste.</li>
        <li>Amet quia culpa aliquid vero?</li>
        <li>Reprehenderit qui officiis sint tempora.</li>
        <li>Ducimus tenetur vero perspiciatis expedita!</li>
        <li>Hic rerum quod perspiciatis ipsam?</li>
        <li>Voluptate dignissimos recusandae architecto quam!</li>
        <li>Odio autem vero culpa aliquam.</li>
        <li>Corrupti reprehenderit cum fugiat fuga?</li>
        <li>Ipsa explicabo omnis rem aliquid.</li>
        <li>Molestias error cupiditate quia magni.</li>
        <li>Delectus eaque dicta ducimus labore.</li>
        <li>Nesciunt quidem atque assumenda quo.</li>
        <li>Molestiae, aliquid! Molestiae, commodi quidem?</li>
        <li>Sequi quod saepe nam perspiciatis!</li>
        <li>Ullam illo culpa provident quas.</li>
        <li>Ratione quod possimus magnam reprehenderit?</li>
        <li>Perspiciatis id quod soluta iure?</li>
        <li>Quaerat perspiciatis est nesciunt odio!</li>
        <li>Quo aut ratione facere autem.</li>
        <li>Facilis suscipit expedita quis temporibus!</li>
        <li>Adipisci aliquid saepe corporis est!</li>
        <li>Itaque quaerat similique perspiciatis fugiat.</li>
        <li>Distinctio quo dignissimos facere harum.</li>
        <li>Cum earum ipsam et sequi?</li>
        <li>Quas optio numquam praesentium omnis!</li>
        <li>Explicabo deserunt nesciunt et quibusdam.</li>
        <li>Omnis libero impedit sapiente fugiat.</li>
        <li>Culpa accusamus fuga reprehenderit nisi.</li>
        <li>Quia autem architecto iste odit!</li>
        <li>Ea aliquam incidunt reiciendis blanditiis!</li>
        <li>Velit voluptatem porro incidunt iusto?</li>
        <li>Magnam distinctio qui ut aperiam!</li>
        <li>In iusto placeat ducimus aliquam?</li>
        <li>Cupiditate vitae reprehenderit similique fugit.</li>
        <li>Ullam reiciendis rem voluptatum magnam.</li>
        <li>Earum quae dignissimos possimus incidunt?</li>
        <li>Velit possimus tempore obcaecati suscipit.</li>
        <li>Accusantium voluptatum laboriosam ducimus commodi.</li>
        <li>Temporibus, suscipit. Pariatur, atque corporis!</li>
        <li>Sed cupiditate dolore qui recusandae.</li>
        <li>Magnam, animi. Ab, numquam debitis?</li>
        <li>Modi enim a corrupti ullam.</li>
        <li>Doloremque expedita architecto ab cum.</li>
        <li>Repellat aliquid odio expedita sit.</li>
        <li>Itaque, at. Eos, sint fugiat.</li>
        <li>Tempora excepturi officia reprehenderit rerum!</li>
        <li>Vitae voluptas nostrum asperiores natus?</li>
        <li>Vero id beatae sequi quod.</li>
        <li>Mollitia deleniti voluptate laboriosam odio.</li>
        <li>Dolorem corrupti voluptatem ipsam at.</li>
        <li>Repellendus quo natus maiores? Consequuntur?</li>
        <li>Corporis ducimus nisi esse voluptatibus.</li>
        <li>Voluptas dolore dolorum nisi impedit.</li>
        <li>Voluptatibus illo consequatur itaque dolores?</li>
        <li>Iure quisquam laboriosam laborum esse.</li>
        <li>Quis quas rerum quia sed!</li>
        <li>Consequatur quisquam provident delectus optio.</li>
        <li>Culpa, et. Culpa, est in.</li>
        <li>Voluptatum, eaque numquam! Repellat, amet!</li>
        <li>In ut nostrum atque assumenda!</li>
</ul>    
{% endblock %}