{% extends "base.html "%}

{% block title %}
{{article.title}}
{% endblock %}

{% block content %}
<article>
    <header>
         <h1>
            {{article.title}}
            {% if article.date.date() == current_date%}
            <span class="badge bg-success fs-6">Новое!</span>
            {% endif %}
        </h1>
        <p class="text-muted"> Опубликовано: {{ article.date.strftime('%d.%m.%Y')}}</p>
    </header>
    <div>
        {{article.text}}
    </div>
   <div class="container mt-4">
    <a href="{{ url_for('index') }}" class="btn btn-secondary d-inline-block">Вернуться на главную</a>
    <p class="text-muted d-inline-block me-3">ID статьи: {{ article.id }}</p>  
    
    <a href="{{ url_for('edit_article', id=article.id) }}" class="btn btn-primary">Редактировать</a>
    <a href="{{ url_for('delete_article', id=article.id) }}" class="btn btn-danger" 
       onclick="return confirm('Вы уверены, что хотите удалить эту статью?')">Удалить</a>
</div>
</article>

{% endblock %}