{% extends 'base.html' %}

{% block title%}
Главная
{%  endblock %}

{% block content%}

<h1>Добро пожаловать в Новостной Блог!</h1>
<div class="row mt-4">
    {% for article in articles %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">
                    {{ article.title }}
                    {% if article.date == current_date %}
                    <span class="badge bg-success">Новое!</span>
                    {% endif %}
                </h5>
                <p class="card-text">
                    <small class="text-muted">{{ article.date.strftime('%d.%m.%Y') }}</small>
                </p>
                <a href="{{ url_for('news_article', id=article.id) }}" class="btn btn-primary">Читать далее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%  endblock %}